.images {
  width: 200px;
}
.row {
  padding-top: 200px;
  padding-bottom: 330px;
}
.col {
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 10px gray;
  margin: 30px;
  padding: 10px;
  height: auto;
  width: 100%;
}
