.background {
  background-image: url("../../images//urbanRiderBg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 935px;
  width: 100%;
}
